button:focus {
  outline: none
}


h1   {
    color: darkgray;
    padding: 100px 0 100px 0;
}

h1.stimulus   {
    color: black;
    padding: 100px 0 100px 0;
}

button {
    appearance: none;
    box-shadow: none;
    border-radius: 0;

    width : 100px;
    height : 50px;
    background-color: lightgrey;
    border: none;
    margin: 50px;
}


div.versionA  span.buttonAnimal button {
    width : 160px;
    height : 90px;
    margin: 50px;
    color: black;
    font-size: 18pt;
    background: rgba(0,0,0,0);
    border: solid 5px darkblue;
}

div.versionA  span.buttonPlant button {
    width : 160px;
    height : 90px;
    margin: 50px;
    color: black;
    font-size: 18pt;
    background: rgba(0,0,0,0);
    border: solid 5px darkgreen;
}

div.versionA  span.buttonOther button {
    width : 160px;
    height : 90px;
    margin: 50px;
    color: black;
    font-size: 18pt;
    background: rgba(0,0,0,0);
    border: solid 5px darkred;
}

div.rtblock {
    margin-top: 50px;
    font-size: 10pt;
    
}


